<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/lib/font-awesome/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSystem</title>
</head>
<body>
    <section class="sign_container">
        <div class="sign_left_side"></div>
        <div class="sign_right_side">
            <video autoplay loop>
                <source src="/assets/videos/SignSystem.mp4" type="video/mp4">
            </video>
            <i class="fa-solid fa-house-user"></i>
            @RenderBody()
        </div>
    </section>
</body>
</html>