html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.sign_container {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.sign_left_side {
    width: 50%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?cs=srgb&dl=pexels-mateusz-dach-450035.jpg&fm=jpg&w=4608&h=3072&_gl=1*zkglhi*_ga*MTk1OTY5MDY3My4xNjc0MzMxMjkz*_ga_8JE65Q40S6*MTY3NTAyMjUxOS4xNC4xLjE2NzUwMjMwMTkuMC4wLjA.);
}

.sign_right_side {
    width: 50%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_right_side > video {
    height: 240px;
    width: 280px;
}

.sign_right_side h2 {
    margin-top: -15px;
    font-weight: 700;
    font-size: 25px;
}

.validation-summary-errors {
    margin-top: -20px; 
    color: red;
}

.sign_form {
    width: 60%;
    padding-bottom: 25px;
}

.sign_input_container {
    border-bottom: 1px solid #8FA3A9;
    display: flex;
    height: 37px;
    align-items: center;
    color: #8FA3A9;
    margin-bottom: 30px;
}

.sign_input {
    border: none;
    font-family: Poppins;
    font-weight: 400;
    width: 90%;
    padding-left: 10px;
}

.sign_input_error {
    border-bottom: 1px solid red;
}

.sign_input:focus {
    outline: none;
}

.sign_form_footer {
    display: flex;
    margin-top: -5px;
    font-family: Poppins;
    justify-content: space-between;
    align-items: center;
}

.sign_form_footer button {
    height: 50px;
    width: 100px;
    cursor: pointer;
    background-color: black;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    color: #fff;
}

.sign_form_helper:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sign_footer {
    margin-top: auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}